beautifulsoup4
deep_translator
Django
django_heroku
geopy
googlesearch_python
goose3
inquirer
langdetect
pyjnius
newspaper
newspaper3k
nltk
pandas
pytimeextractor
requests
selenium
spacy
webdriver_manager
